<html>
 <head>
	<title>Generate Reports</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<style>
	body {
		text-align:center;
	}
	.block1 {
  		display: block;
  		width: 100%;
		height: 30%;
  		border: none;
  		background-color: #FFFFE0;
  		color: Black;
  		padding: 14px 28px;
  		font-size: 36px;
  		cursor: pointer;
  		text-align: center;
	}
	.block2 {
  		display: block;
  		width: 100%;
		height: 30%;
  		border: none;
  		background-color: #E0FFFF;
  		color: Black;
  		padding: 14px 28px;
  		font-size: 36px;
  		cursor: pointer;
  		text-align: center;
	}
	</style>
	

 </head>
  <body>
	     <nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">Smart Library Group 15</a>
			    </div>
			    <ul class="nav navbar-nav">
			      <li class="active"><a href="/">Home</a></li>
			      <li><a href="/">View All Books</a></li>
			      <li><a href="/add">Add A Book</a> </li>
			      <li><a href="/update">Update A Book</a></li>
			      <li><a href="/delete">Delete A Book</a></li>
			      <li><a href="/report">Generate Reports</a></li>
			      <li><a href="/logout">Log Out</a></li>
			    </ul>
			  </div>
		</nav>
		<button onclick="location.href='https://datastudio.google.com/reporting/1fasxNCdNcLxxFw-fX-a0vMx2T_VUCJeZ/page/XiWq'" class="block1">Borrow Data Visualisation Report</button>
		<button onclick="location.href='https://datastudio.google.com/reporting/1AI8dypJTL9zCyxWbUEh1bl5sKEkzYCCe/page/jrWq'" class="block2">Return Data Visualisation Report</button>
  </body>
	<div class="jumbotron text-center" style="margin-bottom:0">
  		<p>Created By PIoT Assignment2 Group15</p>
		<br>
		<p>Xinghao Li | Jinglai Li | Ziqi Huang | Jia Hui Liou</p>
	</div>
</html>